body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    
}


header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 3px ;
}


h2 {
    color: #4CAF50;
}

audio, video, img, iframe {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}